	@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
	
	@font-face {
    	font-family: 'BinggraeMelona-Bold';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona-Bold.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}	
	
	@font-face {
    	font-family: 'BinggraeMelona';
    	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
    	font-weight: normal;
   		font-style: normal;
	}
	
	body {

	}
	
	ul {
		list-style: none;
	}
	
	#loginModal div, #content div, #comment_area div {
		max-width: 100%;
	}
	
	img{
		max-width: 100%;
	}
	#loginModal{
	
	}
			
	#content{
		min-width : 860px;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 100px;
		padding-right: 100px;
		border: 2px solid #ff001d;
		margin-left : 150px;
		margin-right : 300px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	#main_area {
		font-family : 'BinggraeMelona-Bold';
		
	}
	
	#subject_area {
		display: grid;
		grid-template-columns: 4fr 1fr;
	}
	
	#name_section h1{
		font-size: 45px;
		font-family: 'BinggraeMelona-Bold';
		text-align : center;
	}
	#name_area {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}
	
	#star_section {
		display : flex;
		align-content : center;
		align-items : center;
		justify-content: center;
	}	
	
	.star-rating {
  		display:flex;	
  		flex-direction: row-reverse;
  		font-size:1.5em;
  		justify-content:space-around;
  		padding:0 .2em;
  		width:5em;
	}

	.star-rating input {
  		display:none;
	}

	.star-rating label {
  		color:#ccc;
  		cursor:pointer;
	}

	.star-rating :checked ~ label {
  		color:#f90;
	}

	.star-rating label:hover,
	.star-rating label:hover ~ label {
  		color:#fc0;
	}
	
	#scrap_button {
		margin-right: 50px;
	}
	
	#image_area{
		margin-top: 50px;
		text-align : center;
	}
	
	#image_area img {
		border: 3px double #f64646;
	}
	
	#tag_area {
		display : flex;
		margin-top: 45px;
    	margin-bottom: 40px;
    	justify-content: center;
	}
	
	#tag_area b{
		font-size: 20px;
		font-weight: bold;
	}
	
	#tag_area li {
    	display: inline-block;
    	margin: 5px 2px;
    	min-height: 40px;
	}
	
	#tag_area li a {
    	font-size: 20px;
    	line-height: 25px;
    	color: #777777;
    	padding: 5px 20px 7px;
    	border: 1px solid #c1c1c1;
    	background: #fff;
    	border-radius: 50px;
    	text-decoration: none;
	}
	
	#tag_area li a:hover{
		background: #f64646; 
		color: #fff;
		border:1px solid #f64646;
	}
	
	#intro_area{
		margin-top : 50px;
	}
		
	#explain_area {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 35%));
		row-gap : 50px;
		column-gap : 200px;
		justify-content: center;
		margin-top : 50px;
		margin-bottom: 40px;
	}
	
	
	#explain_area h3 {
		color: #e9ecef;
	}
	
	#explain_area h1 {
		float: right;
		font-weight: bold;
		color : #eee;
	}
	
	#ingredient_area {
		display : flex;
		font-size: 20px;
		color : #fff;
		background: #bf132b;
		position: relative;
		padding-left: 50px;
		padding-top: 20px;
	}
	
	#ingredient_area div p{
		color: #eee;
	}
	/*
	#ingredient_area:before{
		position: absolute; 
		left:10px; top:-5px; 
		width:28px; 
		height: 39px; 
		display: block; 
		content: ''; 
		background:url('/image/stats_i.png')no-repeat;
	}
	*/
	
	#level_area {
		display : grid;
		grid-template-rows: 1fr 1fr;
		/*align-items : center;*/
		font-size: 20px;
		color : #fff;
		background: #bf132b;
		position: relative;
		padding-left: 50px;
		padding-right : 50px;
		padding-top: 20px;
		padding-bottom : 20px;
	}
	/*
	#level_area:before{
		position: absolute; 
		left:10px; top:-5px; 
		width:28px; 
		height: 39px; 
		display: block; 
		content: ''; 
		background:url('/image/stats_i.png')no-repeat; 
	}
	*/
	#level_area h1 {
		float: right;
		margin-left: auto;	
	}
	#level_section {
		display: flex;
		align-items : center;
		border-bottom : 1px solid white;
	}
	
	#portion_section { 
		display: flex;
		align-items : center;
	}
		
	#recipe_area {
		font-family : 'BinggraeMelona';
		margin-bottom: 30px;
		padding-left: 55px;
		padding-right: 55px;
		padding-bottom: 30px;		
	}
	
	#recipe_board {
	
	}
	
	#recipe_board p {
		font-size: 24px;
	}
	
	.step_section b{
		color: rgb(191, 19, 43);
		
	}
	
	.explain_section {
	
	}
	
	.image_section {
		
	}
	
	.text_area{
		margin-top: 15px;
	}
	
	.carousel-inner{
		
	}
	.carousel-inner .item{
		
	}
	
	.carousel-inner .item.active img{
		height : 400px;
		line-height: 400px;
		text-align : center;
		object-fit : cover;
	}
	.carousel-inner .item img{
		height : 400px;
		line-height: 400px;
		text-align : center;
	}

	.recipebtn { 
		height: 50px;
	}
	
	.recipebtn span{
		font-weight : bold; 
		font-size : 20px;
		height: 50px;
		border-radius: 50;
	}
	
	#comment_area {
		min-width : 860px;
		font-family : 'BinggraeMelona';
		border: 2px solid #ff001d;
		margin-left: 150px;
		margin-right: 300px;
		margin-top: 50px;
		margin-bottom: 350px;
		padding-top: 30px;
		padding-bottom: 50px;
		padding-left: 100px;
		padding-right: 100px; 
	}
	
	.comment_board {
		padding-top: 15px;
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 20px; 
	}
	
	.comment_content{
		text-align : left;
	}
	
	
	.comment_form textarea{
		width : 100%;
		resize: vertical;
		
	}
	
	#commentbutton {
		position: relative;
	}
	