	div.inputMain *{
		letter-spacing: 0px;
	}
	#input>*{
		text-align: left;
	}
	div.inputMain{
		margin-bottom: 70px;
		width: 850px;
	}
	h1.inputTitle{
		font-family: 'Gowun Dodum';
		font-size: 50px;
		font-weight: bold;
	}
	label.inputMainLabel, label.inputStepLabel, label.inputCompLabel{
		text-align: center;
		cursor: pointer;
		background-color: lightgray;
	}
	label.inputMainLabel{
		width: 800px;
		height: 450px;
	}
	label.inputStepLabel{
		width: 200px;
		height: 150px;
	}
	label.inputCompLabel{
		width: 192px;
		height: 144px;
	}
	img.inputMainLabel{
		width: 800px;
		height: 450px;
		object-fit: cover;
		margin-bottom: -250px;
		opacity: 0.3;
	}
	img.inputStepLabel{
		width: 200px;
		height: 150px;
		object-fit: cover;
		opacity: 0.3;
		margin-bottom: -85px;
	}
	img.compStepLabel{
		width: 192px;
		height: 144px;
		object-fit: cover;
		opacity: 0.3;
		margin-bottom: -85px;
	}
	.stepImgHere{
		font-size: 20px;
		font-family: 'Gowun Dodum';
	}
	.mainFt, .ingFt, #steps, .compFt{
		border-collapse: separate;
		border-spacing: 0 30px;
	}
	.ingFt{
		border-top: 1px solid lightcoral;
		border-bottom: 1px solid lightcoral;
		margin-bottom: 10px;
	}
	.mainFt th{
		font-family: 'Gowun Dodum';
		font-size: 25px;
		width: 200px;
	}
	.ingFt th{
		font-family: 'Gowun Dodum';
		font-size: 25px;
		width: 175px;
		vertical-align: top;
	}
	.compFt td{
		vertical-align: top;
		height: 200px;
	}
	#steps th{
		font-family: 'Gowun Dodum';
		font-size: 25px;
		width: 125px;
		text-align: center;
	}
	#steps td label{
		margin-top: 8px;
	}
	#tag-list{
		list-style: none;
	}
	#tag-list li{
		font-family: 'Gowun Dodum';
		font-size: 22.5px;
		float: left;
		margin-right: 20px;
		margin-top: 15px;
		border-radius: 22.5px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: lightcoral;
		color: snow;
		font-weight: bold;
	}
	#tag{
		 width: 470px;
		 border: 1px solid lightcoral;
		 font-size: 20px;
		 font-family: 'Gowun Dodum';
		 margin-top: 10px;
		 padding-left: 10px;
	}
	.ing_class{
		border: 1px solid lightcoral;
		width: 165px;
		padding-left: 15px;
	}
	.ingTitle, .stepTitle, .compTitle, .tagTitle{
		font-family: 'Gowun Dodum';
		font-size: 30px;
		font-weight: bold;
	}
	.tagTitle{
		width: 150px;
		margin-right: 30px;
	}
	.forms{
		border: 3px solid crimson;
		border-radius: 20px;
		padding-left: 15px;
		font-family: 'Gowun Dodum';
		font-size: 20px;
	}
	.stepSec{
		border: none;
		background-color: transparent;
		width: 40px;
	}
	.step_up, .step_down{
		color: orange;
		font-size: 30px;
		cursor: pointer;
		padding-right: 15px;
		padding-top: 15px;
	}
	.step_down:hover, .step_up:hover{
		font-size: 40px;
	}
	.forms, .ing_class, .stepSec, #tag:focus{
		outline: none;
	}
	button.ingPlus{
		margin-bottom: 30px;
	}
	#stepPopup{
		position: relative;
		float: right;
		margin-top: -165px;
		margin-right: 15px;
		z-index: 10;
		color: crimson;
		font-size: 25px;
		cursor: pointer;
	}
	#delPopup{
		position: relative;
		float: right;
		margin-top: -160px;
		margin-right: 10px;
		z-index: 10;
		color: crimson;
		font-size: 25px;
		cursor: pointer;
	}
	#stepPopup:hover, #delPopup:hover{
		font-size: 30px;
	}
	.compDet{
		font-size: 20px;
		font-family: 'Gowun Dodum';
		text-indent: 15px;
	}
	#inputMainLabel{
		font-family: 'Gowun Dodum';
		font-size: 40px;
	}
		
	.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
  position: relative;
  width: 160px;
  height: 35px;
  border-radius: 20px;
  border: 3px solid crimson;
  background: url('../img/dropdown-icon.png') calc(100% - 7px) center no-repeat;
  background-size: 20px;
  cursor: pointer;
}
.selectBox2.active{
	z-index: 10;
}

.selectBox2:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: lightcoral;
}

.selectBox2 .selector {
  display: flex;
  text-align: left;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 25px;
  background: transparent;
  cursor: pointer;
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Gowun Dodum';
}

.selectBox2 .optionList {
  position: absolute; 
  top: 28px;
  left: 0;
  width: 100%;
  background: lightcoral;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}

.selectBox2.active .optionList {
  max-height: 500px;
}

.selectBox2 .optionItem {
  border-bottom: 1px dashed rgb(170, 72, 72);
  padding: 5px 25px 5px;
  transition: .1s;
  color: white;
  font-family: 'Gowun Dodum';
  font-size: 15px;
  font-weight: bold;
}

.selectBox2 .optionItem:hover {
  background: rgb(175, 93, 93);
}

.selectBox2 .optionItem:last-child {
  border-bottom: 0 none;
}

.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}