	@font-face {
	    font-family: 'CookieRun-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Donoun-Medium';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Cafe24SsurroundAir';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Cafe24Ohsquareair';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	div.inputMain{
		position: relative;
		margin-bottom: 70px;
		width: 850px;
		top: 30px;
		left: 50%;
		margin-left:-400px;
	}
	h1.inputTitle{
		font-family: 'CookieRun-Regular';
		font-size: 50px;
	}
	label.inputMainLabel, label.inputStepLabel, label.inputCompLabel{
		font-family: 'Cafe24SsurroundAir';
		text-align: center;
		cursor: pointer;
	}
	label.inputMainLabel{
		width: 800px;
		height: 450px;
	}
	label.inputStepLabel{
		width: 200px;
		height: 150px;
	}
	label.inputCompLabel{
		width: 192px;
		height: 144px;
	}
	img.inputMainLabel{
		width: 800px;
		height: 450px;
		object-fit: cover;
		margin-bottom: -250px;
		opacity: 0.3;
	}
	img.inputStepLabel{
		width: 200px;
		height: 150px;
		object-fit: cover;
		opacity: 0.3;
		margin-bottom: -85px;
	}
	img.compStepLabel{
		width: 192px;
		height: 144px;
		object-fit: cover;
		opacity: 0.3;
		margin-bottom: -85px;
	}
	span.stepImgHere{
		font-size: 20px;
		font-family: 'Cafe24SsurroundAir';
	}
	.mainFt, .ingFt, #steps, .compFt{
		border-collapse: separate;
		border-spacing: 0 30px;
	}
	.ingFt{
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		margin-bottom: 10px;
	}
	.mainFt th{
		font-family: 'Cafe24Ohsquareair';
		font-size: 25px;
		width: 200px;
	}
	.ingFt th{
		font-family: 'Cafe24Ohsquareair';
		font-size: 25px;
		width: 200px;
		vertical-align: top;
	}
	.compFt td{
		vertical-align: top;
		height: 200px;
	}
	#steps th{
		font-family: 'Cafe24Ohsquareair';
		font-size: 25px;
		width: 125px;
	}
	#steps td label{
		margin-top: 8px;
	}
	#tag-list{
		list-style: none;
	}
	#tag-list li{
		font-family: 'Donoun-Medium';
		font-size: 22.5px;
		float: left;
		margin-right: 20px;
		margin-top: 15px;
		border-radius: 22.5px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: fuchsia;
		color: snow;
	}
	#tag{
		 width: 320px;
		 border: 1px solid lightgray;
		 font-size: 20px;
		 font-family: 'Cafe24Ohsquareair';
		 margin-top: 10px;
		 padding-left: 10px;
	}
	.ing_class{
		border: 1px solid lightgray;
		width: 150px;
		padding-left: 15px;
	}
	.ingTitle, .stepTitle, .compTitle, .tagTitle{
		font-family: 'CookieRun-Regular';
		font-size: 30px;
	}
	.tagTitle{
		width: 150px;
		margin-right: 30px;
	}
	.forms{
		border: 3px solid crimson;
		border-radius: 20px;
		padding-left: 15px;
		font-family: 'Donoun-Medium';
		font-size: 20px;
	}
	.stepSec{
		border: none;
		background-color: transparent;
		width: 40px;
	}
	.forms, .ing_class, .stepSec, #tag:focus{
		outline: none;
	}
	select.forms {
   		-webkit-appearance:none; /* for chrome */
   		-moz-appearance:none; /*for firefox*/
  		appearance:none;
  		cursor: pointer;
  		width: 150px;
	}
	select.forms::-ms-expand{
		display:none;/*for IE10,11*/
	}
	select.forms {
		background:url('../img/dropdown-icon.png') no-repeat 97% 50%/15px auto;
	}
	select.forms option{
		font-size: 18px;
	}
	.compDet{
		font-size: 20px;
		font-family: 'Cafe24SsurroundAir';
	}